[submodule "restapp-server"]
	path = restapp-server
	url = https://github.com/krishanthkirsh/restapp-server.git
[submodule "restapp-client"]
	path = restapp-client
	url = https://github.com/krishanthkirsh/restapp-client.git
